.GenreAndCatagories {
	border: 2px solid black;
	width: 75%;
	margin: auto;
	margin-top: 10px;
	background-color: #a7c3ef;
}

.Catagories {
	list-style-type: none;
	border-bottom: 1px solid black;
	text-align: left;
}

.Catagories li {
	display: inline;
}

.Genres {
	list-style-type: none;
	text-align: left;
}

.Genres li {
	display: inline;
}