.Short {
	float: right;
	display: inline-block;
	width: 20%;
	margin: 15px;
	border: 1px solid black;
	z-index: 100;
	background-color: #90a9d1;
}

.Short ul {
	text-align: left;
	overflow: wrap;
	list-style-type: none;
}



.DevInfo {
	border: 1px solid black;
}

.Description {
	border: 1px solid black;
	text-align: left;
	padding: 5px;
}